<div class="w-full right-content">
  <img src="<%= asset_path('background/top-grass.png') %>" class="w-full" />
  <div class="child-container">
    <h1 class="font-medium text-lg">
      <%= I18n.t 'menu.downloads' %>
    </h1>
    <div class="py-2 text-sm">
      <%= I18n.t 'downloads.patch' %> <a href="https://drive.google.com/file/d/1WLXZcgsKasDwqY0lG-zxWYwNiSgqZGEN/view?usp=sharing" class="text-blue-600" target="_blank">patch</a>
    </div>
    <a href="https://mega.nz/file/cNhHhT4Q#hhSv0_QuqxZ2Q0A5cN-OddccFIRAa8diSnxa9_TGmGc" target="_blank">
      <div class="my-2 download-row rounded p-5 flex items-center">
        <img src="<%= asset_path('downloads/mega.png') %>" class="rounded overflow-hidden" />
        <div class="pl-5">
          <%= I18n.t 'downloads.from' %> Mega
        </div>
      </div>
    </a>
    <a href="https://drive.google.com/file/d/1vV6wmnE_KYVhUcUWyD6UdKgk2FKMncQa/view?usp=sharing" target="_blank">
      <div class="my-2 download-row rounded p-5 flex items-center">
        <img src="<%= asset_path('downloads/google_drive.png') %>" class="rounded overflow-hidden" />
        <div class="pl-5">
          <%= I18n.t 'downloads.from' %> Google Drive
        </div>
      </div>
    </a>
  </div>
</div>