<div class="w-full right-content">
  <img src="<%= asset_path('background/top-grass.png') %>" class="w-full" />
  <div class="child-container">
    <div class="w-full mb-4 pb-4 border-b border-gray-200">
      <% @accounts.each do |account| %>
        <div class="font-medium">
          <%= I18n.t 'stats.characters' %> (<%= account.name %>):
        </div>
        <div class="w-full mt-2 grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4">
          <% account.characters.each do |character| %>
            <div class="border border-gray-200 shadow rounded">
              <div class="px-3 py-2 border-b border-gray-200">
                <%= character.name %>
              </div>
              <div class="px-3 py-2">
                <div class="mb-1">
                  <span class="font-medium">Job:</span> <%= character.job_name %>
                </div>
                <div class="mb-1">
                  <span class="font-medium">Level:</span> <%= character.level %>
                </div>
                <div class="">
                  <span class="font-medium">Exp:</span> <%= character.exp %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= will_paginate @accounts, previous_label: '<', next_label: '>' %>
    </div>
  </div>
</div>