<div class="border border-gray-200 shadow rounded overflow-hidden h-fit">
  <div class="bg-white w-full h-20 overflow-hidden">
    <%= image_tag pack.picture, class: 'h-full mx-auto' %>
  </div>
  <div class="font-medium py-2 border-b border-gray-200 px-2.5">
    <%= pack.name %>
		<span class="font-bold">
			($<%= pack.price %>)
		</span>
  </div>
  <% pack.pack_items.each do |item| %>
    <div class="pt-2 px-2.5 text-sm flex justify-between">
			<span>
				<%= item.item_name %>
			</span>
			<% if item.item_type > 4 %>
				<span><%= item.quantity %></span>
			<% end %>
    </div>
  <% end %>
  <div class="py-2 mt-2 border-t border-gray-200 px-2.5">
    <div id="pack-<%= pack.id %>"></div>
  </div>
</div>
<script>
	paypal.Buttons({
		style: {
			color: 'blue',
			shape: 'rect',
			label: 'paypal',
			layout: 'horizontal',
			tagline: false
		},
		createOrder: function(data, actions) {
			// Set up the transaction
			return actions.order.create({
				purchase_units: [{
					description: "<%= pack.name %>",
					amount: {
						currency_code: "USD",
						value: <%= pack.price %>
					}
				}]
			});
		},
		onApprove: function (data, actions) {
			return actions.order.capture().then((details) => {
				const params = {
					pack_id: <%= pack.id %>,
					order_id: details.id
				};
				fetch('/orders',
					{
						method: "POST",
						body: JSON.stringify(params),
						headers: {
							"X-CSRF-Token": document.querySelector("meta[name=\"csrf-token\"]").content,
							"Content-type": "application/json"
						}
					}
				).then(response => response.json().then(data => {
					if (data.error) {
						alert(data.error);
					} else {
						window.location.href = '/orders';
					}
				})).catch(err => {
					console.log(err);
					alert('Ocurrió un error, por favor contacta a soporte vía discord');
				});
			});
		}
	}).render("#pack-<%= pack.id %>");
</script>