<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t 'menu.logo' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Hecho por fans, para fans de MapleStory">
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
  <script src="//unpkg.com/alpinejs" defer></script>
  <% @javascript_links&.each do |link| %>
    <script src="<%= link %>"></script>
  <% end %>
  <% @style_links&.each do |link| %>
    <link rel="stylesheet" src="<%= link %>" />
  <% end %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="main-bg pb-10">
<div class="w-full max-w-4xl mx-auto">
  <div class="w-full flex flex-col sm:flex-row">
    <div class="w-full">
      <%= yield %>
    </div>
  </div>
  <%= render partial: 'shared/flash' %>
</div>
</body>
</html>
